dj-rest-auth
Django
django-allauth
django-cors-headers
django-cors-middleware
django-countries
django-crispy-forms
django-debug-toolbar
django-jsonfield
django-rest-auth
djangorestframework
djangorestframework-jsonapi
djangorestframework-simplejwt
environ
gunicorn
Pillow
selenium
virtualenv
whitenoise

